
<center>
      <h2><%= @question.questions %></h2>

      <!-- If answer choice is correct -->
     <% if @is_correct == 'true' %>
      	
		<div style = "color:#33CC00;">Correct!</div>

		<br/>

		<a href = "#" class=" button btn btn-default btn-success btn-lg">
		<%= @question.correctAnswer %>
		</a>

		<br/><br/>

		<a href = "#" class=" button btn btn-default btn-lg">
		<%= @question.incorrect1 %>
		</a>

		<br/><br/>

		<a href = "#" class=" button btn btn-default btn-lg">
		<%= @question.incorrect2 %>
		</a>

		<br/><br/>

		<a href = "#" class=" button btn btn-default btn-lg">
		<%= @question.incorrect3 %>
		</a>

    <!-- If answer choice is wrong -->
	<% else %>
	<div style = "color:#FF0000;">Incorrect. You'll see this word again!</div>

	<br/>

	<a href = "#" class=" button btn btn-default btn-success btn-lg">
	<%= @question.correctAnswer %>
	</a>

	<br/><br/>

	<% if @user_answer == @question.incorrect1 %>
		<a href = "#" class=" button btn btn-danger btn-lg">
	<% else %>
		<a href = "#" class=" button btn btn-default btn-lg">
	<% end %>
	<%= @question.incorrect1 %>
	</a>

	<br/><br/>


	<% if @user_answer == @question.incorrect2 %>
		<a href = "#" class=" button btn btn-danger btn-lg">
	<% else %>
		<a href = "#" class=" button btn btn-default btn-lg">
	<% end %>
	<%= @question.incorrect2 %>
	</a>

	<br/><br/>

	<% if @user_answer == @question.incorrect3 %>
		<a href = "#" class=" button btn btn-danger btn-lg">
	<% else %>
		<a href = "#" class=" button btn btn-default btn-lg">
	<% end %>
	<%= @question.incorrect3 %>
	</a>




      <% end %>

      	<br/><br/>
      <p><i><%= @question.correctAnswerSentence %></i></p>


      <a href = /quiz/question/<%= @question.id + 1%> class= "button btn btn-success btn-lg">
          Next </a>
          <br/><br/>




    2 words mastered.  Master 5 to earn a star.
    <div class="progress">
  		<div class="progress-bar progress-bar-success" role="progressbar" style="width: 40%">
  		</div>
	</div>

Reviewing 3 words
<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 0%">
    <span class="sr-only">60% Complete (warning)</span>
  </div>
</div>

Learning 4 words
<div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 10%">
    <span class="sr-only">80% Complete</span>
  </div>
</div>


    </center>