<%= form_for [@deck, @flashcard] do |f| %> 


  <p>
    <%= f.label :front %><br>
    <%= f.text_area :front, :class => "form-control", :rows => "3" %>
</p> <p>
    <%= f.label :back %><br>
    <%= f.text_area :back, :class => "form-control", :rows => "3" %>
  </p>
  <%= f.submit "Save", :class => "btn btn-large btn-success" %>
	
	<br/><br/>
	<%= link_to "Cancel", @deck, :class => "btn btn-large btn-primary"%>
<% end %>